/* You can add global styles to this file, and also import other style files */
span.sr-only {
    display: none;
}

.fixed-footer {
   
}

* {
    font-family: 'Roboto', sans-serif !important;
}

a.nav-link {
    cursor: pointer;
}

.table > tr {
    text-align: center;
}